@tailwind base;
@tailwind components;
@tailwind utilities;

/* font-family: 'Kumbh Sans', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Space Mono', monospace; */

body {
  background-color: #161932;
  background-image: linear-gradient(#292c56, #161932);
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  height: 100%;
  overscroll-behavior: none;
  background-attachment: fixed;
  min-width: 320px;
}
